{% load jinja_tags %}
{% load static %}

<!-- <script type="text/javascript" src="{% static "" %}js/{{js_file}}.js"></script> -->

<!--contenedor-->
<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <!--contenido-->
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <br>
        {% if puede_eliminar == 0 %}
        {% with title='Departamentos' body='No puede Eliminar este departamento, tiene registros en otros modulos, consulte con el administrador' %}
        {% include 'partials/_alert_info_cant_delete.html' %}
        {% endwith %}
        {% endif %}
        <div class="link_blue right">
            <span class="link_blue pointer" onclick="backWindow();">Volver</span>
        </div>
        <br>
        <form name="formulario" method="post" action="" onsubmit="return false;">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th colspan="4" class="center w-100">
                        {% if operation_x == "add" %}Adicionar Departamento{% endif %}
                        {% if operation_x == "modify" %}Modificar Departamento{% endif %}
                        {% if operation_x == "delete" %}Eliminar Departamento{% endif %}
                    </th>
                </tr>

                <tr>
                    <th colspan="4" class="center w-100">
                        Propietario
                    </th>
                </tr>
                <tr class="back1">
                    <td class="right w-20">
                        Apellidos&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.propietario_apellidos}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        Nombres&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.propietario_nombres}} {% endautoescape %}>
                    </td>
                </tr>
                <tr class="back2">
                    <td class="right w-20">
                        CI/NIT&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.propietario_ci_nit}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        Fonos&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.propietario_fonos}} {% endautoescape %}>
                    </td>
                </tr>
                <tr class="back1">
                    <td class="right w-20">
                        Email&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.propietario_email}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        &nbsp;
                    </td>
                    <td class="left w-30">
                        &nbsp;
                    </td>
                </tr>
                
                <tr>
                    <th colspan="4" class="center w-100">
                        Co-Propietario
                    </th>
                </tr>
                <tr class="back1">
                    <td class="right w-20">
                        Apellidos&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.copropietario_apellidos}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        Nombres&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.copropietario_nombres}} {% endautoescape %}>
                    </td>
                </tr>
                <tr class="back2">
                    <td class="right w-20">
                        CI/NIT&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.copropietario_ci_nit}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        Fonos&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.copropietario_fonos}} {% endautoescape %}>
                    </td>
                </tr>
                <tr class="back1">
                    <td class="right w-20">
                        Email&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.copropietario_email}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        &nbsp;
                    </td>
                    <td class="left w-30">
                        &nbsp;
                    </td>
                </tr>
                
                <tr>
                    <th colspan="4" class="center w-100">
                        Departamento
                    </th>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        Bloque&nbsp;
                    </td>
                    <td class="left w-30">
                        <select name="bloque_id" id="bloque_id" class="form-control h-35 input w-90" {% if operation_x == "delete" %}readonly="readonly"{% endif %}>
                            <option value="0">---</option>
                            {% for bloque in bloques %}
                            <option value="{{bloque.bloque_id}}" {% if departamento.bloque_id.bloque_id == bloque.bloque_id %}selected{% endif %}>{{bloque.bloque}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="right w-20">
                        Piso&nbsp;
                    </td>
                    <td class="left w-30">
                        <select name="piso_id" id="piso_id" class="form-control h-35 input w-90" {% if operation_x == "delete" %}readonly="readonly"{% endif %}>
                            <option value="0">---</option>
                            {% for piso in pisos %}
                            <option value="{{piso.piso_id}}" {% if departamento.piso_id.piso_id == piso.piso_id %}selected{% endif %}>{{piso.piso}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        Depto.&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.departamento}} {% endautoescape %}>
                    </td>
                    <td class="right w-20">
                        Codigo&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input left w-90" {% autoescape off %} {{db_tags.codigo}} {% endautoescape %}>
                    </td>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Activo&nbsp;
                    </td>
                    <td class="left w-30">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="activo" name="activo" {% if operation_x == 'add' %}checked{% endif %}
                                {% if operation_x == 'modify' %}{% if departamento.status_id_id == status_active %}checked{% endif %}{% endif %} {% if operation_x == 'delete' %}{% if departamento.status_id_id == status_active %}checked{% endif %} disabled="disabled"
                                {% endif %}>
                            <label for="activo" class="custom-control-label">&nbsp;</label>
                        </div>
                    </td>
                    <td class="right w-20">
                        M2&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" {% if operation_x == "delete" %}readonly="readonly" {% endif %} autocomplete="off" class="form-control input right w-90" {% autoescape off %} {{db_tags.metros2}} {% endautoescape %}>
                    </td>
                </tr>
                
                <tr class="back2">
                    <td colspan="4" class="center w-100">&nbsp;</td>
                </tr>
                <tr class="back2">
                    <td colspan="4" class="center w-100">
                        {% if operation_x == "add" %}
                        <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                            <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary btn-sm" name="add_button" onclick="sendFormDepartamento('add', '');">
                            <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar
                        </button>
                        <input type="hidden" name="add_x" value="acc">
                        <input type="hidden" name="control_form" value="{{control_form}}">
                        {% endif %}
                        {% if operation_x == "modify" %}
                        <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                            <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary btn-sm" name="add_button" onclick="sendFormDepartamento('modify', '');">
                            <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar
                        </button>
                        <input type="hidden" name="modify_x" value="acc">
                        <input type="hidden" name="control_form" value="{{control_form}}">
                        {% endif %}
                        {% if operation_x == "delete" and puede_eliminar == 1 %}
                        <button class="btn btn-secondary btn-sm" name="button_cancel" onclick="backWindow();">
                            <i class="nav-icon fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Cancelar
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger btn-sm" name="add_button" onclick="sendFormDepartamento('delete', 'este Departamento');">
                            <i class="nav-icon far fa-times-circle"></i>&nbsp;&nbsp;Eliminar
                        </button>
                        <input type="hidden" name="delete_x" value="acc">
                        <input type="hidden" name="control_form" value="{{control_form}}">
                        {% endif %}
                        <input type="hidden" id="url_main" value="{{url_main}}">
                        <input type="hidden" id="operation_x" name="operation_x" value="{{operation_x}}">
                        <input type="hidden" name="module_x" value="{{module_x}}">
                        <input type="hidden" name="id" value="{{id}}">
                    </td>
                </tr>

            </table>
        </form>
        <br>
    </div>
    <!--fin div contenido-->
    <div class="col-sm-2">&nbsp;</div>
</div>
<!--fin div contenedor-->
<form name="form_cancel" method="post" action="{{url_main}}">
    {% csrf_token %}
</form>

<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>