{% load jinja_tags %}
{% load static %}

<script type="text/javascript" src="{% static "" %}js/{{js_file}}.js"></script>

<!--contenedor-->
<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <!--contenido-->
        <!--alerts-->
        {% include 'partials/_alerts.html' %}
        <br>

        <div class="link_blue right">
            <span class="link_blue pointer" onclick="backWindow();">Volver</span>
        </div>
        <br>

        <form name="formulario" method="post" action="" onsubmit="return false;">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th colspan="2" class="center w-100">
                        Stock Insumos
                    </th>
                </tr>
                
                <td class="right w-20">
                    Almacen :&nbsp;
                </td>
                <td class="left w-80">
                    <div id="div_almacen">
                        <select name="almacen" id="almacen" class="form-control input w-90 h-35">
                            <option value="0">(TODOS)</option>
                            {% for almacen in lista_almacenes %}
                            <option value="{{almacen.almacen_id}}">{{almacen.sucursal_id.sucursal}}-{{almacen.almacen}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>

                <tr class="back2">
                    <td colspan="2" class="w-100 center">&nbsp;</td>
                </tr>
                <tr class="back1">
                    <td colspan="2" class="w-100 center">
                        <input type="button" name="add_button" value="&nbsp;Mostrar&nbsp;" class="btn btn-primary btn-sm" onclick="stockProductos('print');">
                        <input type="hidden" name="url_main" id="url_main" value="{{url_main}}">
                        <input type="hidden" name="url_actual" id="url_actual" value="{{url_actual}}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" name="add_button" value="&nbsp;Excel&nbsp;" class="btn btn-primary btn-sm" onclick="stockProductos('print_excel');">
                    </td>
                </tr>
            </table>
        </form>
        <br>
    </div>
    <!--fin div contenido-->
    <div class="col-sm-2">&nbsp;</div>
</div>
<!--fin div contenedor-->
<form name="form_print" method="post" action="" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="linea" value="0">
    <input type="hidden" name="almacen" value="0">
</form>

<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>