{% load jinja_tags %}
{% load static %}

<div class="row align-items-center">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <!--div contenedor-->
        <br>
        <!--alerts-->
        {% include 'partials/_alerts.html' %}

        <form name="search" method="post" action="">
            {% csrf_token %}
            <table class="table3 w-100">
                <tr>
                    <th class="w-100 center" colspan="4">
                        Opciones de Busqueda
                    </th>
                </tr>

                <tr class="back1">
                    <td class="right w-20">
                        Apellidos&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" name="search_apellidos" id="search_apellidos" class="form-control input w-80" value="{{ session.search_apellidos }}" autocomplete="off">
                    </td>
                    <td class="right w-20">
                        Nombres&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" name="search_nombres" id="search_nombres" class="form-control input w-80" value="{{ session.search_nombres }}" autocomplete="off">
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        Bloque&nbsp;
                    </td>
                    <td class="left w-30">
                        <select name="search_bloque" id="search_bloque" class="form-control h-35 input w-90">
                            <option value="0">---</option>
                            {% for bloque in bloques %}
                            <option value="{{bloque.bloque_id}}" {% if session.search_bloque|add:0 == bloque.bloque_id %}selected{% endif %}>{{bloque.bloque}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="right w-20">
                        Piso&nbsp;
                    </td>
                    <td class="left w-30">
                        <select name="search_piso" id="search_piso" class="form-control h-35 input w-90">
                            <option value="0">---</option>
                            {% for piso in pisos %}
                            <option value="{{piso.piso_id}}" {% if session.search_piso|add:0 == piso.piso_id %}selected{% endif %}>{{piso.piso}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                
                <tr class="back1">
                    <td class="right w-20">
                        Periodo&nbsp;
                    </td>
                    <td class="left w-30">
                        <select onchange="sendSearchAsignarCM();" name="search_periodo" id="search_periodo" class="form-control h-35 input w-90">
                            {% for periodo in periodos %}
                            <option value="{{periodo}}" {% if session.search_periodo == periodo %}selected{% endif %}>{{periodo|get_show_periodo}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="right w-20">
                        Dpto.&nbsp;
                    </td>
                    <td class="left w-30">
                        <input type="text" name="search_departamento" id="search_departamento" class="form-control input w-80" value="{{ session.search_departamento }}" autocomplete="off">
                    </td>
                </tr>
                
                <tr class="back2">
                    <td class="right w-20">
                        C. Manual&nbsp;
                    </td>
                    <td colspan="3" class="left w-80">
                        <select onchange="sendSearchAsignarCM();" name="search_cobro_manual" id="search_cobro_manual" class="form-control h-35 input w-90">
                            {% for cobro_manual in lista_cobros_manuales %}
                            <option value="{{cobro_manual.cobro_manual_id}}" {% if session.search_cobro_manual|add:0 == cobro_manual.cobro_manual_id %}selected{% endif %}>{{cobro_manual.cobro_manual}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr class="back1">
                    <td colspan="4" class="center w-100">
                        <button class="btn btn-primary btn-sm" name="search_button" onclick="sendSearchAsignarCM();">
                            <i class="nav-icon fas fa-search"></i>&nbsp;&nbsp;Buscar
                        </button>
                        <input type="hidden" name="search_button_x" value="acc">
                        <input type="hidden" name="module_x" value="{{module_x}}">
                    </td>
                </tr>
            </table>
        </form>
        <br>
        
        {% if cantidad_cmp > 0 %}
        <!--paginacion-->
        {% include 'partials/pagination.html' %}

        {%if permisos.modificar == 1 %}
        <table class="tabla w-100">
            <td class="right w-100">
                <button class="btn btn-primary btn-sm" name="add_btn_x" id="add_btn_x" onclick="sendFormAsignarCM(operation='save', '');">
                    <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar Datos
                </button>
            </td>
        </table>
        <br>
        {% endif %}
        <form name="formulario" method="post" action="" onsubmit="return false;">
            {% csrf_token %}
        <table class="table3 w-100">
            <tr>
               <td colspan="4" class="w-85 center">
                 <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="mt_dep" name="mt_dep" onchange="acmTodosDepartamentos();">
                    <label for="mt_dep" class="custom-control-label">&#34;Todos los Departamentos&#34; </label>
                </div>
                <input type="hidden" name="todos_departamentos" id="todos_departamentos" value="0">
               </td> 
               <td class="w-15 center">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="marcar_todo" name="marcar_todo" onchange="acmListaDepartamentos();">
                    <label for="marcar_todo" class="custom-control-label">&nbsp;</label>
                </div>
               </td>
            </tr>
        </table>
        <table class="table3 w-100">
            <tr>
                <th class="w-20 minw-60 pointer left" {% with cabecera=columnas.0 %} {% include 'partials/cabecera_columna.html' %} {% endwith %}>
                    {% with cabecera=columnas.0 %}
                    Dpto{% include 'partials/titulo_columna.html' %}
                    {% endwith %}
                </th>
                <th class="w-35 minw-80 pointer left" {% with cabecera=columnas.1 %} {% include 'partials/cabecera_columna.html' %} {% endwith %}>
                    {% with cabecera=columnas.1 %}
                    Propietario{% include 'partials/titulo_columna.html' %}
                    {% endwith %}
                </th>
                <th class="w-15 minw-40 left">
                    Periodo
                </th>
                <th class="w-15 minw-50 left">
                    Monto
                </th>
                <th class="w-15 minw-40 center">
                    &nbsp;
                </th>
            </tr>

            {% for lectura in lecturas %}
            {% with dpid=lectura.departamento_id %}
            <tr class="back{{forloop.counter|back_class_color:lectura.status_id}}">
                <td class="left w-20">
                    {{lectura.departamento}}
                </td>
                <td class="left w-35">
                    {{lectura.apellidos}}
                </td>
                <td class="left w-15">
                    {{session.search_periodo|get_show_periodo}}
                </td>
                <td class="left w-15">
                    <input type="text" value="{{lectura.monto_bs_manual}}" readonly="readonly{% if lectura.status_id == cobrado %}_cobrado{% endif %}" name="monto_bs_manual_{{dpid}}" id="monto_bs_manual_{{dpid}}" class="form-control input w-99 right">
                </td>
                <td class="center w-15">
                    {% if lectura.status_id != cobrado %}
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="chk_cobro_manual_{{dpid}}" name="chk_cobro_manual_{{dpid}}" {% if lectura.cobro_cobro_manual_id != 0 %}checked{% endif %}>
                        <label for="chk_cobro_manual_{{dpid}}" class="custom-control-label">&nbsp;</label>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </table>
        <input type="hidden" id="url_main" value="{{url_main}}">
        <input type="hidden" id="departamentos_ids" name="departamentos_ids" value="{{departamentos_ids}}">
        <input type="hidden" id="cobro_manual_id" name="cobro_manual_id" value="{{session.search_cobro_manual}}">
        <input type="hidden" id="monto_cobro_manual" name="monto_cobro_manual" value="{{monto_cobro_manual}}">
        
        <input type="hidden" id="operation_x" name="operation_x" value="save_data">
        <input type="hidden" name="module_x" value="{{module_x}}">
        </form>
        <br>
        {% if permisos.modificar == 1 %}
        <table class="tabla w-100">
            <td class="right w-100">
                <button class="btn btn-primary btn-sm" name="add_btn_x2" id="add_btn_x2" onclick="sendFormAsignarCM(operation='save', '');">
                    <i class="nav-icon fas fa-save"></i>&nbsp;&nbsp;Guardar Datos
                </button>
            </td>
        </table>
        <br>
        {% endif %}
        {% else %}
            {% with title='Asignar Cobros Manuales!' body='Primeramente debe registrar los cobros mensuales para este periodo: ' body2=session.search_periodo|get_show_periodo %}
            {% include 'partials/_alert_info_cant_delete.html' %}
            {% endwith %}
        {% endif %}{# if cant_cmp > 0 #}
    </div>
    <!--fin div contenedor-->
    <div class="col-sm-2">&nbsp;</div>
</div>

<BR><BR>
<form name="form_order" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="{{session.variable_order}}" value="{{session|get_item:session.variable_order}}">
    <input type="hidden" name="{{session.variable_order_type}}" value="{{session|get_item:session.variable_order_type}}">
</form>
<form name="form_operation" method="post" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="module_x" value="{{module_x}}">
    <input type="hidden" name="module_x2" value="{{module_x2}}">
    <input type="hidden" name="module_x3" value="{{module_x3}}">
    
    <input type="hidden" name="operation_x" value="{{operation_x}}">
    <input type="hidden" name="operation_x2" value="{{operation_x2}}">
    <input type="hidden" name="operation_x3" value="{{operation_x3}}">
    
    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="id2" value="{{id2}}">
    <input type="hidden" name="id3" value="{{id3}}">
</form>
</div>
